<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Edição de Endereço YKMR</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/atualizarendereco.css'>
    <script src='../script/atualizarendereco.js'></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="../index.html">
                <img src="img/controle.png" alt=""></a>
          <h2>Atualize o seu Endereço</h2>
        </div>

        <div class="form">
          <div class="form-content">
            <label for="edit-title">Título</label>
            <input type="text" id="edit-title" placeholder="Título do endereço">
          </div>

          <div class="form-content">
            <label for="edit-cep">CEP</label>
            <input type="text" id="edit-cep" placeholder="CEP">
          </div>
          
          <div class="form-content">
            <label for="edit-address">Endereço</label>
            <input type="text" id="edit-address" placeholder="Endereço">
          </div>

          <div class="form-content">
            <label for="edit-number">Número</label>
            <input type="text" id="edit-number" placeholder="Número">
          </div>

          <div class="form-content">
            <label for="edit-complement">Complemento</label>
            <input type="text" id="edit-complement" placeholder="Complemento">
          </div>

          <input type="button" id="save-button" value="Salvar">
        </div>
      </div>
</body>
</html>