<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sobre - YKMR</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/sobrenos.css'>
    <script src='../script/sobrenos.js'></script>
</head>
<body>
    <div id="container">
        <header>
        
        <div class="logos">
            <img id="estrela" src="../view/img/estrela.png" alt="Estrela">
            <img id="logo" src="../view/img/logoteste.png" alt="Logo">
        </div>

        <a href="../index.html">
            <h2 id="TextoLoja">LOJA</h2></a>
    
        <div class="dropdown">
            <button class="dropbtn">
                <img src="../view/img/icone.png" alt="Icone" width="95%">
                </button>
                  
                <div class="dropdown-content">
                <a href="../view/cadastro.html">Cadastro</a>
                <a href="../view/login.html">Login</a>
                </div>
              </div>
        <img src="../view/img/guia.png" alt="Fundo Header">
        </header>

</body>
</html>